<h3>Carrrinho</h3>

<p>
  <a routerLink="/shipping">Preços de envio</a>
</p>

<div class="cart-item" *ngFor="let item of items">
  <span>{{ item.name }}</span>
  <span>{{ item.price | currency }}</span>
</div>

<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="name"> Nome </label>
    <input id="name" type="text" formControlName="name" />
  </div>

  <div>
    <label for="address"> Endereço </label>
    <input id="address" type="text" formControlName="address" />
  </div>

  <button class="button" type="submit">Comprar</button>
</form>
